// Notifications
.nav-notifications {
  margin: 0;

  // Notification Count
  &-count {
    background-color: $brand-info;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
    height: 18px;
    min-width: 18px;
    line-height: 18px;
    padding: 0 .25rem;
    margin-left: -.5rem;
    position: relative;
    z-index: 2;
    text-align: center;
    display: block;
  }

  // Notifications Dropdown Menu
  .dropdown-menu {
    padding-top: 0;

    @include media-breakpoint-up(md) {
      left: -115px;
      position: absolute;
      width: 260px;
      top: 110%;
    }


    &::before, &::after {
      right: calc(50% - 14px);
    }

    &::after {
      border-bottom-color: #f7f7f9;
    }

    > .dropdown-item {
      padding: 3px 1rem;
    }

    > .dropdown-item:first-child {
      background-color: #f7f7f9;
      min-height: 38px;
    }
  }

  // Notifications Icon
  .nav-notification-icon {
    color: $brand-inverse;
    padding: 0 1rem 0 0;
  }

  // Notifications Timestamp
  .nav-notification-time {
    color: $base-grey;
    padding: 0 0 0 1rem;
  }
}

.nav-notifications-list {
  max-height: 12rem;
  overflow: auto;
}

.nav-notification-time {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Nav notifications in the header
.header .navbar-nav .nav-notifications .nav-link {
  margin: 0 !important;
  padding: 0 !important;

  .mdi {
    position: relative;
    z-index: 1;
  }
}

.connection-ping {
  position: absolute;
  right: 0;
}
