!.env.example
*.sublime-project
*.sublime-workspace
.bash_history
.bashrc
.cache/
.DS_Store
.env*
.gitconfig
.idea
.npm-shrinkwrap.json
.php_cs.cache
.profile
.sublime-gulp.cache
.v8flags*
.viminfo
/.composer/
/.idea
/.npm/
/.nvm/
/.ssh/
/.vagrant
/bower_components/
/node_modules/
/public/css/
/public/fonts/
/public/hot/
/public/img/
/public/js/
/public/mix-manifest.json
/public/storage/
/storage/*.key
/Vagrantfile
/vendor/
composer.lock
composer.phar
Homestead.json
Homestead.yaml
npm-debug.log
packages.json
Thumbs.db
yarn.lock
