!.env.example
.env*
.npm-shrinkwrap.json
/.idea
/.vagrant
/node_modules
/public/js
/public/css
/public/hot
/public/fonts
/public/storage
/public/mix-manifest.json
/storage/*.key
/Vagrantfile
/vendor
composer.lock
Homestead.json
Homestead.yaml
yarn.lock
