.footer {
  color: #b8b9b9;
  font-size: 12px;
  margin: 2rem;

  a:hover {
    color: $brand-primary;
    text-decoration: none;
  }
}

.footer-link {
  color: #999999;
}

.footer-links {
  font-size: 14px;
  margin: 1.5rem 0 0rem;
  text-align: center;

  @media (min-width: 576px) {
    margin: 0;
    text-align: right;
  }

  > .footer-link {
    margin: 0 .5rem;

    @media (min-width: 576px) {
      margin-left: 1.5rem;
      margin-right: 0;
    }
  }

  > .footer-link.mdi:before {
    font-size: 20px;
    margin-right: .5rem;
    margin-top: -.25rem;
    vertical-align: top;
  }
}
