// Header Layout
.header {
  background-color: $navbar-default-bg;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  height: 90px;
  z-index: 1041;
  position: fixed;
  top: 0;
  width: 100%;
}

.header .container {
  @media (max-width: 576px) {
    margin: 0;
    padding: 0 1rem;
  }
}

// Header Brand
.header .navbar-brand {
  color: #666666;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15rem;

  @media (min-width: 767px) {
    position: relative;
    padding-right: 2em;
    margin-right: 2em;

    &::after {
      background-color: #f5f5f5;
      top: -25px;
      content: '';
      right: 0;
      position: absolute;
      width: 2px;
      height: 90px;
    }
  }
}

// Generic Header Icons Styles
.header .mdi {
  color: #e6e6e6;
  font-size: 24px;
}

// Generic Header Link Styles
.header .navbar-nav .nav-link {
  color: #999999;
  font-size: 14px;
  padding: .5rem 0;
  margin-right: 1.5rem;
}

// User Responsive
.header .navbar-nav-user {
  @media (max-width: 991px) {
    right: 32px;
    position: absolute;
    top: 3px;

    .nav-notifications {
      position: absolute;
      left: -20px;
      top: -2px;

      .dropdown-menu {
        position: absolute;
        left: -150px;
        width: 300px;
        margin-left: 12px;
      }
    }
  }

  @media (max-width: 430px) {
    right: 70px;

    .nav-notifications {
      position: absolute;
      left: 0;
      top: -2px;
    }

    .nav-user {
      display: none !important;
    }
  }
}

// Connection Responsive
.header .navbar-nav-connection {
  @media (max-width: 991px) {
    position: absolute;
    right: 7px;
    top: 3px;

    .nav-connection > span {
      display: none !important;
    }
  }
}
