// Notifications
.nav-notifications {
  margin: 0;

  // Notification Count
  &-count {
    background-color: $brand-info;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    height: 19px;
    line-height: 14px;
    padding: 0 .25rem;
    margin-left: -.5rem;
  }

  // Notifications Dropdown Menu
  .dropdown-menu {
    padding-top: 0;

    @include media-breakpoint-up(md) {
      left: -115px;
      position: absolute;
      width: 260px;
      top: 110%;
    }


    &::before, &::after {
      right: calc(50% - 14px);
    }

    &::after {
      border-bottom-color: #f7f7f9;
    }

    > .dropdown-item:first-child {
      background-color: #f7f7f9;
    }
  }

  // Notifications Icon
  .nav-notification-icon {
    color: $brand-inverse;
    padding: 0 1rem 0 0;
  }

  // Notifications Timestamp
  .nav-notification-time {
    color: $base-grey;
    padding: 0 0 0 1rem;
  }
}

.nav-notifications-list {
  height: 12rem;
  overflow: auto;
}

// Nav notifications in the header
.header .navbar-nav .nav-notifications .nav-link {
  margin: 0 !important;
  padding: 0 !important;
}
