@import "../../../node_modules/bootstrap/scss/card";

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

// Card Stat
.card-stat {
  padding: 1rem;
  position: relative;

  @media (min-width: 576px) and (max-width: 767px) {
    text-align: center;
    width: 100%;
  }

  @media (min-width: 992px) {
    padding: 2rem;
  }

  // Icon
  .card-icon {
    border-radius: 50%;
    font-size: 24px;
    float: left;
    padding: 0;
    text-align: center;
    height: 48px;
    line-height: 48px;
    width: 48px;

    @media (min-width: 576px) and (max-width: 767px) {
      display: inline-block;
      float: none;
    }

    @media (min-width: 992px) {
      height: 64px;
      line-height: 64px;
      width: 64px;
    }
  }

  // Details
  .card-details {
    float: left;
    margin-left: .5rem;
    text-align: left;

    @media (min-width: 576px) and (max-width: 767px) {
      margin: 0;
      text-align: center;
      width: 100%;
    }

    @media (min-width: 768px) {
      margin-left: 1.5rem;
    }
  }
  .card-title {
    color: #4a4a4a;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.75rem;
    margin-top: .25rem;

    @media (min-width: 992px) {
      margin-bottom: 1.25rem;
    }
  }
  .card-subtitle {
    color: #b3b3b3;
    font-size: 0.8rem;

    @media (min-width: 992px) {
      font-size: 1rem;
    }
  }

}

.card-stat-uptime,
.card-stat-prizes,
.card-stat-connections {
  .card-icon, .dropdown-icon {
    color: #ffffff;
  }
}

.card-stat-connections {
  .card-icon, .dropdown-icon {
    background-color: $brand-info;
  }
}

.card-stat-uptime {
  .card-icon, .dropdown-icon {
    background-color: $brand-success;
  }
}

.card-stat-prizes {
  .card-icon, .dropdown-icon {
    background-color: $brand-warning;
  }
}

.card-dropdown {
  position: absolute;
  top: 0;
  right: 0;

  // Dropdown Button
  .btn-dropdown {
    box-shadow: none;
    color: #d8d8d8;
    cursor: pointer;
    font-size: 24px;

    &:hover {
      color: $brand-primary;
    }
  }

  // Dropdown Menu
  .dropdown-menu {
    left: auto;
    right: -20%;
    // Arrow
    &:before, &:after {
      left: auto;
      margin-left: initial !important;
      right: 40px;
    }
    &:after {
      margin-right: -15px;
    }
    &:before {
      margin-right: -16px;
    }
  }

  // Dropdown Icon
  .dropdown-icon {
    border-radius: 50%;
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    margin: 0 .5rem 0 0;
    text-align: center;
    width: 24px;
  }
}

// Card Header
.card .card-header {
  color: #b3b3b3;
  font-size: 13px;
  font-weight: bold;
}

// Card Table
.card-table .table {
  margin-bottom: 0;

  th {
    color: #666666;
  }
  td {
    color: #999999;
  }
  th, td {
    font-size: 13px;
    padding-left: 1.25rem;
  }
  .mdi {
    font-size: 20px;
    position: relative;
    top: -4px;
  }
}

// Card Form
.card-form .card-header {
  text-align: center;
  color: #666666;
}

.card-form .card-body {
  padding: 2rem;
  border-top: 1px solid #eeeeee;
}

.card-form .control-group {
  margin-bottom: 2rem;
}

.card-form .form-control {
  padding: 1rem;
}

.card-form .btn {
  cursor: pointer;
  font-size: 10px;
  letter-spacing: .1rem;
  padding: 1rem 0;
  text-transform: uppercase;
}

.card-form .btn-primary {
  background-color: $btn-primary-bg;
  border: 2px solid $btn-primary-bg;

  &:hover {
    background-color: #ffffff;
    color: $btn-primary-bg;
  }
}

.card-form .btn-default {
  background-color: #ffffff;
  border: 2px solid $btn-default-border;
  color: $btn-default-border;

  &:hover {
    background-color: $btn-default-border;
    color: #ffffff;
  }
}
