.modal-component .close {
  position: absolute;
  top: 5px;
  right: 10px;
}

.modal-component .modal-header {
  border-bottom: none;
}

.modal-component .modal-body {
  color: #c0c0c0;
  padding: 1.5rem 1.5rem 3rem;
}

.modal-component {
  h1, h2, h3, h4, h5, h6 {
    color: #666666;
  }
}
